<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prasanna.android.stacknetwork"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission." />

    <application
        an=""
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service android:name="com.prasanna.android.stacknetwork.intent.QuestionDetailsIntentService" />
        <service android:name="com.prasanna.android.stacknetwork.intent.UserDetailsIntentService" />
        <service android:name="com.prasanna.android.stacknetwork.intent.UserQuestionsIntentService" />
        <service android:name="com.prasanna.android.stacknetwork.intent.UserAnswersIntentService" />
        <service android:name="com.prasanna.android.stacknetwork.intent.SearchForQuestionsIntentService" />
        <service android:name="com.prasanna.android.stacknetwork.intent.UserDeauthenticateAppIntentService" />
        <service android:name=".intent.UserSitesIntentService" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StackNetworkListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".LogoutActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OAuthActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".QuestionsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".QuestionSearchResultsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserInboxActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".UserTabsWidget"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".QuestionDetailActivity" >
        </activity>
    </application>

</manifest>