.pln {
	color: #000
}

@media screen {
	.str {
		color: #080
	}
	.kwd {
		color: #008
	}
	.com {
		color: #800
	}
	.typ {
		color: #606
	}
	.lit {
		color: #066
	}
	.pun,.opn,.clo {
		color: #660
	}
	.tag {
		color: #008
	}
	.atn {
		color: #606
	}
	.atv {
		color: #080
	}
	.dec,.var {
		color: #606
	}
	.fun {
		color: red
	}
}

@media print , projection {
	.str {
		color: #060
	}
	.kwd {
		color: #006;
		font-weight: bold
	}
	.com {
		color: #600;
		font-style: italic
	}
	.typ {
		color: #404;
		font-weight: bold
	}
	.lit {
		color: #044
	}
	.pun,.opn,.clo {
		color: #440
	}
	.tag {
		color: #006;
		font-weight: bold
	}
	.atn {
		color: #404
	}
	.atv {
		color: #060
	}
}

ol.linenums {
	counter-reset: item;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li span {
	position: relative;
	left: 23px;
}

li:before {
	position: absolute;
	display: block;
	left: -3px;
	padding-right: 2px;
	text-align: right;
	width: 30px;
	content: counter(item) "";
	counter-increment: item;
	background-color: #eaeaea;
}