<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prasanna.android.stacknetwork"
    android:versionCode="5"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name" >
        <provider
            android:name="com.prasanna.android.provider.RecentQueriesProvider"
            android:authorities="com.prasanna.android.provider.RecentQueriesProvider"
            android:exported="false" />

        <service android:name=".service.TagsService" />
        <service android:name=".service.MyProfileService" />
        <service android:name=".service.AccountSyncService" />
        <service android:name=".service.PostIntentService" />
        <service android:name=".service.AnswersIntentService" />
        <service android:name=".service.QuestionsIntentService" />
        <service android:name=".service.QuestionDetailsIntentService" />
        <service android:name=".service.UserIntentService" />
        <service android:name=".service.WriteIntentService" />

        <receiver android:name=".receiver.BatteryLevelReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.OnBootAlarmBroadcastReceiver"
            android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PackageUpgradeBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.InboxRefreshAlarmBroadcastReceiver"
            android:process=":remote" />
        <receiver
            android:name=".receiver.AccountSyncAlarmBroadcastReceiver"
            android:process=":remote" />
        <receiver android:name=".receiver.NewMsgNotificationReceiver" >
            <intent-filter>
                <action android:name="com.prasanna.stacknetwork.newMsg" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".QuestionsActivity" />
        </activity>
        <activity
            android:name=".StackNetworkListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".LogoutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".OAuthActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".QuestionsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/question_searchable" />
        </activity>
        <activity
            android:name=".AdvancedSearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".UserInboxActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InboxItemActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FullscreenTextActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SearchCriteriaListActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>